.desktop {
	display: none;
}
.logo {
	background: #5d80a6;
	padding: 9px;
}
html, body {
	margin:0;
	padding: 0;
	background: #F5F5F5;
	font-family: Helvetica Neue,Helvetica,Verdana;
}
.logo a {
	display: block;
	height: 23px;
}
.content_mobile {
	background: white;
}
.content_mobile p {
	color: #505050;
	border-bottom: 1px solid #e9e9e9;
	background-color: #f7f7f7;
	padding: 12px;
	margin: 0;
	font-size: 14px;
}
fieldset {
	border: none;
	margin: 12px 0 0 0;
	padding: 0;

}
.sign_in_mobile label {
	display: block;
	padding: 0 0 6px;
	color: #777;
	font-size: 14px;
	margin: 0;
}
.sign_in_mobile input {
	padding: 4px;
	font-size: 16.38px;
	box-sizing: content-box;
	border-radius: 4px;
	vertical-align: top;
	width: 97%;
	min-width: 30px;
	border: 1px solid #B9C4D1;
	margin: 0;
	display: block;
}
.sign_in_mobile input:focus {
	outline: none;
}
.sign_in_mobile {
	padding: 0 12px 12px 12px;
}
.sign_in_mobile input[type="submit"] {
	padding: 8px 4px;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	background-color: #6182aa;
	border-radius: 4px;
	margin-top: 18px;
}
.forgot {
	color: #4C6B8F;
	text-decoration: none;
	text-align: center;
	font-size: 13.1875px;
	width: 100%;
	display: block;
	padding: 13px 0 0 0;
}
.sign_up_mobile {
	width: 97%;
	display: block;
	text-align: center;
	padding: 8px 4px;
	color: #4c6b8f;
	background-color: #e1e5eb;
	border-radius: 4px;
	font-weight: 700;
	text-decoration: none;
	font-size: 13px;
	margin: 20px 0 0 0;
}
.footer_mobile a {
	padding: 4px 6px;
	color: #8a8a8a;
	text-decoration: none;
	font-size: 13px;
	text-align: center;
}
.footer_mobile {
	text-align: center;
	padding: 14px;
	background: #F5F5F5;
	border-top: solid 1px #DFE3E8;
}